/* Colors  */

:root {
    --blue: hsl(212, 86%, 64%);
    --red: hsl(0, 78%, 62%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-dark-blue: hsl(234, 12%, 34%);
}

html,
body {
    width: 100%;
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #fafafa;
}

body {
    display: flex;
}

#root {
    width: 100%;
}

.inputs-column {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.column-heading {
    margin: 0;
}

.main-row {
    flex-direction: row;
}

.find-replace-button {
    margin: 2rem 0.5rem 0 0.5rem;
}

.main-column {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    padding: 2em;
    max-height: 100%;
}


/* .history-items-container .row {
    border-bottom: 1px solid var(--grayish-blue);
} */


/* Inputs */

.inp {
    position: relative;
    width: 100%;
    max-width: 280px;
    display: flex;
}

.inp .label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098a9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
    margin: 0 auto;
}

.inp .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #07f;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
}

.inp input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #c8ccd4;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all 0.15s ease;
    z-index: 1;
}

.inp input:hover {
    background: rgba(34, 50, 84, 0.03);
    border-radius: 5px;
}

.inp input:not(:placeholder-shown)+span {
    color: var(--grayish-blue);
    transform: translateY(-26px) scale(0.75);
}

.inp input:focus {
    background: none;
    outline: none;
}

.inp input:focus+span {
    color: var(--blue);
    transform: translateY(-26px) scale(0.75);
}

.inp input:focus+span+.border {
    transform: scaleX(1);
}


/* Textarea */

.main-textarea {
    overflow: auto;
    min-height: 120px;
    max-height: 1000px;
    padding: 5px 8px;
    resize: none;
    width: 100%;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    background: none;
    border: 2px solid #c8ccd4;
    border-radius: 5px;
    color: #223254;
    transition: all 0.15s ease;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

.main-textarea:focus {
    box-shadow: none;
    border-color: var(--blue);
}


/* Icons */

.fa-plus-circle,
.fa-minus-circle,
.fa-archive {
    color: var(--grayish-blue);
    transition: 0.5s;
    margin: 0 0.2rem;
}

.col-1.plus-circle {
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.fa-plus-circle:hover {
    cursor: pointer;
    transition: 0.5s;
    color: var(--blue);
}

.fa-minus-circle:hover {
    cursor: pointer;
    transition: 0.5s;
    color: var(--red);
}

.fa-archive:hover {
    cursor: pointer;
    transition: 0.5s;
    color: turquoise;
}


/* Login */

.login-form,
.register-form {
    width: 50%;
}


/* Users */

.navbar-nav {
    flex-direction: row;
    justify-content: space-evenly;
}

.navbar-nav li {
    margin: 0 1rem;
}

.navbar-dark .navbar-brand {
    color: var(--blue);
    letter-spacing: 1.5px;
    margin: 0;
}

.welcome-text {
    margin: 0 1rem 0 0;
    letter-spacing: 1.5px;
    color: #fff;
}

.nav-user-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

svg.fa-sign-out-alt {
    transition: 0.8s;
    font-size: 20px;
    color: var(--grayish-blue);
    margin: auto 0;
}

svg.fa-sign-out-alt:hover {
    transition: 0.8s;
    color: var(--blue);
    cursor: pointer;
}


/* Ovverides */

@media (min-width: 1200px) {
    .container {
        max-width: 1600px;
    }
}